# Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Mac
.DS_Store

# Media - Don't commit media, only code.

# Images
*.jpg
*.gif
*.png
*.svg
*.ico
*.pdf

# Video
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm

# Audio
*.wav
*.mp3
*.wma
*.aif
*.aiff
*.aac

# Fonts
*.eot
*.ttf
*.woff
